# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/target/

# macOS

.DS_Store

# Eclipse
.classpath
.project
.settings/

# Intellij

*.iws
/.classpath


/.mymetadata
